@font-face {
	font-family: 'Pretendard';
	font-weight: 900;
	font-display: swap;
	src: local('Pretendard Black'), url(https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/packages/pretendard/dist/web/static/woff2/Pretendard-Black.woff2) format('woff2'), url(https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/packages/pretendard/dist/web/static/woff/Pretendard-Black.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-display: swap;
	src: local('Pretendard ExtraBold'), url(https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/packages/pretendard/dist/web/static/woff2/Pretendard-ExtraBold.woff2) format('woff2'), url(https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/packages/pretendard/dist/web/static/woff/Pretendard-ExtraBold.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url(https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/packages/pretendard/dist/web/static/woff2/Pretendard-Bold.woff2) format('woff2'), url(https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/packages/pretendard/dist/web/static/woff/Pretendard-Bold.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: swap;
	src: local('Pretendard SemiBold'), url(https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/packages/pretendard/dist/web/static/woff2/Pretendard-SemiBold.woff2) format('woff2'), url(https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/packages/pretendard/dist/web/static/woff/Pretendard-SemiBold.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: local('Pretendard Medium'), url(https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/packages/pretendard/dist/web/static/woff2/Pretendard-Medium.woff2) format('woff2'), url(https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/packages/pretendard/dist/web/static/woff/Pretendard-Medium.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url(https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/packages/pretendard/dist/web/static/woff2/Pretendard-Regular.woff2) format('woff2'), url(https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/packages/pretendard/dist/web/static/woff/Pretendard-Regular.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	font-display: swap;
	src: local('Pretendard Light'), url(https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/packages/pretendard/dist/web/static/woff2/Pretendard-Light.woff2) format('woff2'), url(https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/packages/pretendard/dist/web/static/woff/Pretendard-Light.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 200;
	font-display: swap;
	src: local('Pretendard ExtraLight'), url(https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/packages/pretendard/dist/web/static/woff2/Pretendard-ExtraLight.woff2) format('woff2'), url(https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/packages/pretendard/dist/web/static/woff/Pretendard-ExtraLight.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 100;
	font-display: swap;
	src: local('Pretendard Thin'), url(https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/packages/pretendard/dist/web/static/woff2/Pretendard-Thin.woff2) format('woff2'), url(https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/packages/pretendard/dist/web/static/woff/Pretendard-Thin.woff) format('woff');
}

/* 
 * D2 coding (Korean) http://dev.naver.com/projects/d2coding/
 */
 @font-face {
  font-family: 'D2 coding';
  font-style: normal;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/joungkyun/font-d2coding/D2Coding.eot');
  src: local('※'), local('D2Coding'),
    url('https://cdn.jsdelivr.net/gh/joungkyun/font-d2coding/D2Coding.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/joungkyun/font-d2coding/D2Coding.woff2') format('x-woff2'),
    url('https://cdn.jsdelivr.net/gh/joungkyun/font-d2coding/D2Coding.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/joungkyun/font-d2coding/D2Coding.ttf') format('truetype'),
    url('https://cdn.jsdelivr.net/gh/joungkyun/font-d2coding/D2Coding.svg') format('svg');
}

@font-face {
  font-family: 'D2 coding';
  font-style: normal;
  font-weight: 700;
  src: url('https://cdn.jsdelivr.net/gh/joungkyun/font-d2coding/D2CodingBold.eot');
  src: local('※'), local('D2Coding Bold'),
    url('https://cdn.jsdelivr.net/gh/joungkyun/font-d2coding/D2CodingBold.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/joungkyun/font-d2coding/D2CodingBold.woff2') format('x-woff2'),
    url('https://cdn.jsdelivr.net/gh/joungkyun/font-d2coding/D2CodingBold.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/joungkyun/font-d2coding/D2CodingBold.ttf') format('truetype'),
    url('https://cdn.jsdelivr.net/gh/joungkyun/font-d2coding/D2CodingBold.svg') format('svg');
}

/* 기본 및 Open Sans 폰트 설정 */
body,
.app__body.font--open_sans,
#SidebarContainer .SidebarChannelGroupHeader_groupButton,
.channel-header .heading {
  font-family: 'Pretendard', 'Open Sans', sans-serif;
}

/* 제목 폰트 설정 */
.app__body {
  h1,
  h2,
  h3 {
    font-family: Pretendard, Metropolis, sans-serif;
  }
}

.icon, .icon-plus {
  font-family: 'Open Sans', sans-serif;
}

/* 이미지 컬럼 스타일 */
.post-image__column {
  border-radius: 10px;
  height: 8.4rem;
}

/* 둥근 모서리 요소들 */
.file-view--single .file__image .image-loaded img,
.post-menu,
.AdvancedTextEditor__body,
[data-testid="call-thread"] {
  border-radius: 10px;
}

/* 모달 이미지 모서리 제거 */
.modal .modal-image .modal-image__wrapper img {
  border-radius: 0;
}

/* 채널 뷰 배경 투명화 */
#channel_view {
  background: transparent;
}

/* 숨김 처리 요소들 */
.MenuWrapper > nav > div > div,
#UpgradeButton,
.Menu .MenuStartTrial {
  display: none;
}

/* 게시물 이미지 크기 설정 */
.post-image {
  width: 9.2rem;
  height: 7rem;
}

/* 썸네일 이미지 크기 설정 */
.post-image__thumbnail {
  width: 10rem;
}

.app__body .attachment .attachment__content {
  border-color: transparent;
}

.post .attachment .attachment-fields .attachment-field__caption {
  padding-top: 0;
}

/* 코드 폰트 설정 */
code, kbd, pre, samp {
  font-family: 'D2 coding', Menlo, Monaco, Consolas, "Courier New", monospace;
}